# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/
venv/
ENV/
Pipfile
Pipfile.lock
pyenv
*.pypirc
.mypy_cache/
.pytest_cache/
coverage/
.coverage
.tox/
*.log
*.sqlite3
*.db

# VSCode
.vscode/
.history/